<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
            .attr('src', e.target.result);
//            .width(150)
//            .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>


<%= nested_form_for(@production_order, html: { multipart: true } ) do |f| %>
  <% if @production_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_order.errors.count, "error") %> prohibited this production_order from being saved:</h2>

      <ul>
        <% @production_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="well">
    <div class="row">
      <div class="col-md-12"><div class="form-group">
        <%= f.label 'Título' %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-8"><div class="form-group">
        <%= f.label 'Endereço' %><br />
        <%= f.text_field :address, class: "form-control" %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'CEP' %><br />
        <%= f.text_field :zip, 'data-inputmask': "'mask': '99999-999'", class: "form-control" %>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Telefone 1' %><br />
        <%= f.text_field :phone1, 'data-inputmask': "'mask': '(99) 9999[9]-9999'", class: "form-control" %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Telefone 2' %><br />
        <%= f.text_field :phone2, 'data-inputmask': "'mask': '(99) 9999[9]-9999'", class: "form-control" %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Telefone 3' %><br />
        <%= f.text_field :phone3, 'data-inputmask': "'mask': '(99) 9999[9]-9999'", class: "form-control" %>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Email' %><br />
        <%= f.text_field :email, class: "form-control" %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Site' %><br />
        <%= f.text_field :website, class: "form-control" %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Facebook' %><br />
        <%= f.text_field :facebook, class: "form-control" %>
      </div></div>
    </div>
  </section>

  <section class="well">
    <div class="row">
      <div class="col-md-8"><div class="form-group">
        <%= f.label 'Texto Publicitário' %><br />
        <%= f.text_area :publicity_text, class: "form-control", rows: 10 %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Logotipo' %><br />
        <%= image_tag(@production_order.logotype_url, id: 'img_prev', class: 'img-responsive img-rounded')%>
        <%= f.file_field :logotype, onchange: 'readURL(this);' %>
        <%= f.hidden_field :logotype_cache %>
        <p>
          <label>
            <%= f.check_box :remove_logotype %>
            Remover logotipo
          </label>
        </p></div></div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <p><%= f.link_to_add 'Adicionar uma categoria', :categories, class: 'btn btn-info' %></p>

        <%= f.fields_for :categories do |builder| %>
          <%= render 'category_fields', f: builder %>
        <% end %>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="category1" class="form-control-label">Categoria 1:</label>
          <%= f.select(
                  :category1,
                  @categories,
                  { include_blank: 'Selecione uma Categoria'},
                  :'data-remote' => 'true', # important for UJS
                  :'data-url' => url_for(:controller => 'api/subgroups', :action => 'index'), # we get the data from here!
                  :'data-type' => 'json', # tell jQuery to parse the response as JSON!
                  class: 'form-control'
              ) %>
        </div>
        <div class="form-group">
          <label for="subcategory1" class="form-control-label">Sub Categoria 1:</label>
          <%= f.select(
                  :subcategory1,
                  @subcategories1,
                  { },
                  class: 'form-control'
              ) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="category2" class="form-control-label">Categoria 2:</label>
          <%= f.select(
                  :category2,
                  @categories,
                  { include_blank: 'Selecione uma Categoria'},
                  :'data-remote' => 'true', # important for UJS
                  :'data-url' => url_for(:controller => 'api/subgroups', :action => 'index'), # we get the data from here!
                  :'data-type' => 'json', # tell jQuery to parse the response as JSON!
                  class: 'form-control'
              ) %>
        </div>
        <div class="form-group">
          <label for="subcategory2" class="form-control-label">Sub Categoria 2:</label>
          <%= f.select(
                  :subcategory2,
                  @subcategories2,
                  { },
                  class: 'form-control'
              ) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="category3" class="form-control-label">Categoria 3:</label>
          <%= f.select(
                  :category3,
                  @categories,
                  { include_blank: 'Selecione uma Categoria'},
                  :'data-remote' => 'true', # important for UJS
                  :'data-url' => url_for(:controller => 'api/subgroups', :action => 'index'), # we get the data from here!
                  :'data-type' => 'json', # tell jQuery to parse the response as JSON!
                  class: 'form-control'
              ) %>
        </div>
        <div class="form-group">
          <label for="subcategory3" class="form-control-label">Sub Categoria 3:</label>
          <%= f.select(
                  :subcategory3,
                  @subcategories3,
                  { },
                  class: 'form-control'
              ) %>
        </div>
      </div>
    </div>
  </section>

  <section class="well">
    <div class="row">
      <h1 class="text-center">Saiba Mais</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label 'Descrição' %><br />
        <%= f.text_area :description, class: "form-control", rows: 10 %>
      </div>
      <div class="col-md-12"><div class="form-group">
        <%= f.label 'Link para o vídeo do Youtube' %><br />
        <%= f.text_field :youtube_video, class: "form-control", placeholder: 'https://www.youtube.com/watch?v=MeuVideo' %>
      </div></div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p><%= f.link_to_add 'Adicionar um arquivo', :attachments, class: 'btn btn-info' %></p>

        <%= f.fields_for :attachments do |builder| %>
          <%= render 'attachment_fields', f: builder %>
        <% end %>
      </div>
    </div>
  </section>

  <div class="well">
    <div class="row">
      <h1 class="text-center">Banners</h1>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'SALVAR ORDEM DE PRODUÇÃO', class: 'btn btn-success form-control' %>
  </div>
<% end %>