<%= nested_form_for(production_order, html: { multipart: true } ) do |f| %>
  <section class="well">
    <p>Nro. OP: <strong><%= @production_order.id %></strong>
      Data/Solicitação: <strong><%= @production_order.created_at.to_formatted_s(:long) %></strong>
      UF: <strong><%= @production_order.business_unit.federation_unit_name %></strong>
      Cidade: <strong><%= @production_order.business_unit.city_name %></strong>
      Unidade: <strong><%= @production_order.business_unit.name %></strong>
    </p>
    <p class="pull-right">Status: <strong><%= @production_order.human_state_name %></strong></p>
    <p>Solicitante: <strong><%= @production_order.soliciting_user.name %></strong></p>
  </section>

  <section class="well">
    <div class="row">
      <div class="col-md-12"><div class="form-group">
        <%= f.label 'Título' %><br />
        <%= f.text_field :name, class: "form-control", disabled: true %>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-2"><div class="form-group">
        <%= f.label 'Estado' %>
        <%= f.text_field :federation_unit_name, class: "form-control", disabled: true%>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Cidade' %>
        <%= f.text_field :city_name, class: "form-control", disabled: true%>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Bairro' %>
        <%= f.text_field :district_name, class: "form-control", disabled: true%>
      </div></div>
      <div class="col-md-2"><div class="form-group">
        <%= f.label 'CEP' %><br />
        <%= f.text_field :zip, 'data-inputmask': "'mask': '99999-999'", class: "form-control", disabled: true %>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-12"><div class="form-group">
        <%= f.label 'Endereço' %><br />
        <%= f.text_field :address, class: "form-control", disabled: true%>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Telefone 1' %><br />
        <%= f.text_field :phone1, 'data-inputmask': "'mask': '(99) 9999[9]-9999'", class: "form-control", disabled: true %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Telefone 2' %><br />
        <%= f.text_field :phone2, 'data-inputmask': "'mask': '(99) 9999[9]-9999'", class: "form-control", disabled: true %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Telefone 3' %><br />
        <%= f.text_field :phone3, 'data-inputmask': "'mask': '(99) 9999[9]-9999'", class: "form-control", disabled: true %>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Email' %><br />
        <%= f.text_field :email, class: "form-control", disabled: true %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Site' %><br />
        <%= f.text_field :website, class: "form-control", disabled: true %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Facebook' %><br />
        <%= f.text_field :facebook, class: "form-control", disabled: true %>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.label 'Palavras Chaves' %><br />
        <%= f.text_field :keywords, class: "form-control", disabled: true %>
      </div>
    </div>
  </section>

  <section class="well">
    <div class="row">
      <div class="col-md-8"><div class="form-group">
        <%= f.label 'Texto Publicitário' %><br />
        <%= f.text_area :publicity_text, class: "form-control", rows: 10, disabled: true %>
      </div></div>
      <div class="col-md-4"><div class="form-group">
        <%= f.label 'Logotipo' %><br />
        <%= image_tag(production_order.logotype_url, id: 'img_prev', class: 'img-responsive img-rounded')%>
        <%= f.hidden_field :logotype_cache %>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Categorias</h2>
        <% if production_order.categories.any? %>
          <ul>
            <% production_order.categories.each do |category| %>
              <li><%= category.name %> / <%= category.subcategory_name %></li>
            <% end %>
          </ul>
        <% else %>
          <p>Nenhuma categoria disponível</p>
        <% end %>
      </div>
    </div>

  </section>

  <section class="well">
    <div class="row">
      <h1 class="text-center">Saiba Mais</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.label 'Descrição' %><br />
        <%= f.text_area :description, class: "form-control", rows: 10, disabled: true %>
      </div>
      <div class="col-md-12"><div class="form-group">
        <%= f.label 'Link para o vídeo do Youtube' %><br />
        <%= f.text_field :youtube_video, class: "form-control", placeholder: 'https://www.youtube.com/watch?v=MeuVideo', disabled: true %>
      </div></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Arquivos</h2>
        <% if production_order.attachments.any? %>
          <table class="table">
            <thead>
              <tr>
                <th>Arquivo</th>
                <th>Descrição</th>
                <th>Rank</th>
                <th>Tipo</th>
              </tr>
            </thead>
            <tbody>
              <% production_order.attachments.each do |attachment| %>
                <tr>
                  <td><%= attachment.filename %></td>
                  <td><%= attachment.description %></td>
                  <td><%= attachment.rank %></td>
                  <td><%= attachment.content_type %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>Nenhum arquivo disponível</p>
        <% end %>
      </div>
    </div>
  </section>

<% end %>