<header class="row">
  <div class="col-md-4">
    <img class="img-responsive" src="/assets/logo.png">
  </div>
  <div class="col-md-4">
    <h1 class="text-center">Editando Ordem de Produção</h1>
  </div>
  <div class="col-md-4"></div>
</header>

<section class="row">
  <div class="col-md-12">
    <div class="well">
      <p>Nro. OP: <strong><%= @production_order.id %></strong>
        Data/Solicitação: <strong><%= @production_order.created_at.to_formatted_s(:long) %></strong>
        UF: <strong><%= @production_order.business_unit.federation_unit_name %></strong>
        Cidade: <strong><%= @production_order.business_unit.city_name %></strong>
        Unidade: <strong><%= @production_order.business_unit.name %></strong>
      </p>
      <p class="pull-right">Status: <strong><%= @production_order.human_state_name %></strong></p>
      <p>Solicitante: <strong><%= @production_order.soliciting_user.name %></strong></p>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <%= nested_form_for(@production_order, html: { multipart: true } ) do |f| %>
      <%= render 'actions', f: f %>
    <% end %>
  </div>
</section>

<section class="row" >
  <div class="col-md-12">
    <%= link_to 'Visualizar', @production_order, class: 'btn btn-primary' %> |
    <%= link_to 'Voltar', production_orders_path, class: 'btn btn-danger' %>
  </div>
</section>
