<p id="notice"><%= notice %></p>

<header>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag( image_path('logo.png'), class: 'img-responsive') %>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">Ordem de Produção</h1>
    </div>
    <div class="col-md-4"></div>
  </div>
</header>

<%= render partial: 'show_form', locals: {production_order: @production_order} %>

<section class="row" >
  <div class="col-md-12">
    <%= link_to 'Editar', edit_production_order_path(@production_order), class: 'btn btn-primary' %> |
    <%= link_to 'Voltar', production_orders_path, class: 'btn btn-danger' %>
  </div>
</section>